.container{
    width: 50%;
    height: 50%;  
             
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

body{
    color: var(--colorPrymary5) !important;
}

body{
    color: var(--colorPrymary5) !important;
}